# Gradle
.gradle/
build/
**/build/

# Android Studio
*.iml
.idea/
.kotlin/

# Local SDK
local.properties

# Native builds
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS
.DS_Store
Thumbs.db

# Signing keys
*.jks
*.keystore
*.p12

# Environment / Secrets
.env
.env.*
secrets.properties
google-services.json

DefaultLocations.kt
LocationDao_impl.kt

# Logs
*.logcat
*.log